.AppBar {
  width: 60%;

  display: flex;
  align-items: center;
  background-color: white;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(74, 191, 238);
  justify-content: center;
  transition: 500ms;
  border-bottom: 2px solid rgb(74, 191, 238);
}

.sticky {
  position: fixed;
  top: 0px;
  width: 90%;
  color: white;
  background-color: rgb(74, 191, 238, 0.95);
  border-radius: 0;
  height: 55px;
}
.AppBar ul li a {
  text-decoration: none;
  color: rgb(74, 191, 238);
  transition: 200ms;
}

.AppBar ul li a:hover {
  color: rgb(90, 90, 90);
}

.sticky ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.AppBar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.AppBar ul li {
  margin: 10px;
}

@media (max-width: 770px) {
  .sticky {
    width: 100%;
  }
}

/* Back to top image */
.BackToTop {
  position: fixed;
  top: 85.5%;
  width: 60px;
  right: 0.2%;
  transition: 200ms;
}

.BackToTop:hover {
  transform: scale(1.1);
}
