.LastUpdate {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  justify-content: space-evenly;
}

.LastUpdate h4 {
  font-weight: 400;
  font-size: 1rem;
  color: rgb(82, 82, 82);
  margin: 0;
  padding-left: 5px;
}
.LastUpdate h1 {
  color: rgb(74, 191, 238);
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin-right: 10px;
}

.LastUpdate h5 {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(82, 82, 82);
  margin: 0;
  font-style: italic;
}
