.VaccineCoverage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  padding-top: 30px;
}

.VaccineCoverage-doses {
  color: rgb(82, 82, 82);
  font-size: 1rem;
}

.VaccineCoverage-h2 {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(82, 82, 82);
}

@media only screen and (max-width: 770px) {
  .VaccineCoverage {
    width: 100%;
  }
}
