.VaccineDetails {
  border-top: 2px solid rgb(74, 191, 238);
  margin-top: 30px;
  padding-top: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.VaccineDetails h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(74, 191, 238);
}

#VaccineDetails-h2 {
  position: relative;
  bottom: 80px;
}

@media (max-width: 770px) {
  .VaccineDetails {
    width: 100%;
  }
}
